* {
  padding: 0;
  margin: 0;
}

.list-value {
  width: 200px;
}

ul li {
  list-style: none;
}

ul li span {
  font-weight: 500;
}

.list-value {
  width: 150px;
}

/* .parent {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .logo {
  position: absolute;
  top: 50%;
  left: 30%;
} */

@media screen and (max-width: 900px) {
  .cards {
    width: 200px;
    height: 200px;
  }
  .cards .list-value {
    overflow: auto;
  }
}

.previous {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  background-color: rgb(243, 215, 215);
}

.active {
  background-color: blue;
}
