form {
  overflow: hidden;
  background-color: rgb(16, 223, 178);
  padding: 50px;
  border-radius: 10px;
}

label {
  float: left;
  width: 200px;
  font-size: large;
  padding-right: 24px;
}

input {
  float: left;
  width: calc(100% - 200px);
  margin-bottom: 20px;
  height: 50px;
  border: none;
  background-color: pink;
}

.btn {
  background-color: blue;
}
